@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.font-Noto-Serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
 }

 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}

.font-bold{
    font-weight: bold;
    
    
}

/* color black */
.color-black{
    color: rgba(0, 0, 0, 1);
}

/* gray-color */
.color-gray{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

/* color-orange */
.color-orange{
    color: rgba(233, 90, 8, 1);
}
.main {
    max-width: 1440;
    height: auto;
    margin: auto 150px;
    
}


/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #ffffff;
  
}

/* Logo */
.logo img {
  height: 40px;
}

/* Nav links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #000;
}

/* home button */
.nav-links a.home-button {
  font-weight: bold;
  color: #000;
}

/* Cart Icon */
.cart i {
  margin-right: 5px;
}

/* fresh flower container */
.fresh-flower-container{
    display: flex;
    align-items: center;
    margin: 120px 150px;
}

.fresh-flower-title{
    font-size: 2.9rem;
}

.fresh-flower-description{
    font-size: 22px;
}

/* our plants section */
.our-plants{
    
    text-align: center;
    align-items: center;
}
.our-plants-title{
    font-size: 2.27rem;
    margin-bottom: 16px;
}
.our-plants-description{

   align-items: center;
   text-align: center;
}

/* add to cart */

.card {
  
  max-width: 270px;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto;
  
}

.card h2 {
  margin: 15px 0 5px;
  font-size: 22px;
  font-weight: 400;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  text-decoration: none;
  width: 240px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-to-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 20px;
}

/* flower plants and lover section */

.plants-lover-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-top: 50px;
  gap: 60px;
}

.image-section {
  position: relative;
  width: 100%;
  height: auto;
}

.main-image {
  width: 100%;
  
}

.badge {
  position: absolute;
  top: -127px;
  right: -127px;
  width: 286px;
}

.text-section {
  max-width: 540px;
  /* margin-left: 60px; */
}

.text-section h1 {
    margin-left: 60px;
    margin-top: 38px;
    font-size: 2.9rem;
}

.text-section ul {
  list-style-type: disc;
 
}

.text-section li {
  margin-bottom: 15px;
  line-height: 1.6;
}





/* responsive for mobile */

@media screen and (max-width: 576px) {
    .body{
        margin: auto 15px;
        align-items: center;
    }

    .main{
        margin: 20px 15px;
        width: 100%;
    }
    .nav-link{
        display: none;
    }

    .navbar{
        padding: 15px 10px;
        max-width: 100%;
    }

    .fresh-flower-container{
        flex-direction: column-reverse;
        }

 .our-plants{
    align-items: center;
    justify-content: center;
 }
    .card {
  
  max-width: 171px;
  text-align: center;
  padding: 20px;
}
.card .btn{
    width: 130px;
}

    .add-to-cart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 20px;
}

.plants-lover-container {
    display: grid;
}

.main-image {
  width: 100%;
}

.badge {
    display: none;
}

 .text-section h1 br{
    display: none;
 } 

    
}


